<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Term harbour - AI Translation assistant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/upload.css" />
    <!-- Local CSS -->
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    {# Private scripts file#}
    <script src="../static/upload.js"></script>

    {% include 'navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Term harbour - AI Translation assistant</h1>
          <p>Translate your text with the help of AI</p>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <h2>Upload File</h2>

        </div>
      </div>



        <div class="row">
        <div class="col">
          <p>Select a glossary:</p>

        <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Choose Glossary
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for file_name in glossary_files %}
        <li><a class="dropdown-item" href="#" onclick="setSelectedOption('{{ file_name }}')">{{ file_name }}</a></li>
        {% endfor %}
    </ul>
</div>

        </div>
    </div>
                <div class="row">
        <div class="col">
          <div
            id="upload-form"
            ondrop="dropHandler(event)"
            ondragover="dragOverHandler(event)"
            onclick="openFileInput()"
          >
            <p>
              Drag & drop files here <br />
              or <br />
              Click to select files
            </p>
            <p id="file-name"></p>

            <input
              type="file"
              id="fileInput"
              name="file"
              onchange="fileSelected()"
            />
          </div>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <button class="btn btn-primary mt-2" onclick="uploadFile()">
              Upload
            </button>
          </div>
        </div>

    <div id="added_content"> TU JEST CONTENT</div>

      </div>

              <div>
              {{ test_text }}
          </div>
    </div>
  </body>
</html>
