<div class="row">
    <div class="col">
        <div
                id="upload-form"
                ondrop="dropHandler(event, 'file-name')"
                ondragover="dragOverHandler(event, 'file-name')"
                onclick="openFileInput('fileInput')"
        >
            <p>
                Drag & drop files here <br />
                or <br />
                Click to select files
            </p>
            <p id="file-name"></p>

            <input
                    type="file"
                    id="fileInput"
                    name="file"
                    onchange="fileSelected('fileInput', 'file-name')"
            />
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
            <button class="btn btn-primary mt-2" onclick="uploadFile()">
                Get terms
            </button>
        </div>

    </div>

    <div class="col">
        <div
                id="upload-form-2"
                ondrop="dropHandler(event, 'file-name-2')"
                ondragover="dragOverHandler(event, 'file-name-2')"
                onclick="openFileInput('targetFileInput')"
        >
            <p>
                Drag & drop files here <br />
                or <br />
                Click to select files
            </p>
            <p id="file-name-2"></p>

            <input
                    type="file"
                    id="targetFileInput"
                    name="file"
                    onchange="fileSelected('targetFileInput', 'file-name-2')"
            />
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
            <button id="addToGlossaryButton" class="btn btn-success mt-2" style="display:none;" onclick="addToGlossary()">Add to glossary</button>
        </div>


    </div>
</div>
